<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia de Informações da JUSTWEB</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body style="font-family: Arial, sans-serif; line-height: 1.6; margin: 0; padding: 0; background-color: #f0f0f0; color: #333;">
    <div style="max-width: 600px; margin: 20px auto; padding: 20px; background-color: #fff; color: black;border-radius: 8px; box-shadow: 0 0 10px rgba(0,0,0,0.1);">

        <p>Olá {nome_cliente},</p>

        <p>Tudo bem?</p>

        <p>Estamos super empolgados em compartilhar algo especial! Confira o anexo e descubra o <strong>Guia de Informações da JUSTWEB</strong> – feito sob medida para transformar sua experiência em algo ainda mais espetacular.</p>

        <p><strong>O que você vai descobrir no guia:</strong></p>
        <ul style="list-style: '🔹'">
            <li> Soluções para Problemas Comuns</li>
            <li> Dicas de Wi-Fi</li>
            <li> Segunda Via de Boleto</li>
            <li> Como Acessar os Benefícios</li>
            <li> Aplicativos JUSTWEB</li>
        </ul>

        <p><strong>Por que isso é importante?</strong></strong></p>

        <p>Domine nossos serviços com facilidade e aproveite ao máximo cada benefício. Este guia centraliza tudo o que você precisa saber, colocando o poder em suas mãos. Porque seu tempo vale ouro, simplificamos para você uma experiência sem igual.</p>

        <p><em>(consulte o anexo)</em></p>

        <p>Aproveite o guia e descubra tudo o que a JUSTWEB tem a oferecer. Estamos aqui para tornar sua jornada digital a melhor possível!</p>

        <p>Caso tenha outras dúvidas ou questionamentos, não hesite em entrar em contato conosco. Estamos disponíveis nos principais canais de atendimento:</p>


        <ul style="list-style-type: none; padding: 10px">
            <li><a style="text-decoration: none" href="https://www.instagram.com/justweb.internet" class="button instagram" target="_blank">
                <i class="fab fa-instagram"></i> Instagram: @justweb.internet
            </a></li>
            <li><a style="text-decoration: none"  href="https://www.facebook.com/justweb" class="button facebook" target="_blank">
                <i class="fab fa-facebook-f"></i> Facebook: justweb
            </a></li>
            <li><a style="text-decoration: none" href="tel:+08004941234" class="button phone">
                <i class="fas fa-phone"></i> Central justweb: 08004941234
            </a></li>


        </ul>


    </div>
</body>
</html>
